# Ignore VS folder at repo root
../.vs/

# Or if .vs is sometimes created inside:
.vs/

# Unreal
Binaries/
DerivedDataCache/
Intermediate/
Saved/*
!Saved/Config/**
!Saved/Localization/**


# Ignore all MP3 audio files
*.mp3

# Ignore all FBX 3D files
*.fbx